* {
  margin: 0;
  padding: 0;
  border: 0;
}

.button {
  border: 1px solid rgba(17, 133, 244, 0.8);
  text-decoration: none;
  font-size: 20px;
  padding: 20px;
  height: 20px;
  transition: all 3s ease-in;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button:hover {
  background: rgba(24, 185, 220, 0.8);
}